.banner-section{
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;

  &__content{
    &-wrap{
      background: url(/commons-template/assets/img/banner-01.png) no-repeat;
      background-size: cover;
      border-radius: 3.75rem;
      padding: 6.375rem 14rem;
      text-align: center;
    }
    &-title{
      color: #FFFFFF;
      font-family: "Open Sans";
      font-size: 56px;
      letter-spacing: 0;
      line-height: 76px;
      margin-bottom: 1.25rem;
    }
    &-span{
      font-weight: 700;
    }
    &-description{
      color: #FFFFFF;
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 30px;
      text-align: center;
      margin-bottom: 1.875rem;
      
    }
  }
  &__btn{
    &-first{
      background-color: #fff;
      color: #0F1A43;
      border: none;
      font-size: 14px;
      font-weight: bold;
      padding: 12px 45px;
      border-radius: 50px;
    }
  }
}