.banner-container{
    margin-left: 13.75rem;
    margin-right: 13.75rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    background: url(../../assets/img/banner-01.png) no-repeat;
    background-size: contain;
    height: 400px;
    color: #fff;
    padding: 6rem 3rem;
    @media (max-width: 1199.98px) {
        margin-left: 5.75rem;
        margin-right: 5.75rem;
      }
      @media (max-width: 575.98px) {
        padding: 2rem 1rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
        margin-left: 1rem;
        margin-right: 1rem;
        background-size: cover;
      }
    h1{
        font-weight: bold;
        @media (max-width: 575.98px) {
            padding-bottom: 2rem;
          }
    }
    p{
        width: 50%;
        @media (max-width: 575.98px) {
            width: 100%;
            font-size: 18px;
            padding-bottom: 2rem;
          }
    }
    button{
        background: #fff;
        border: none;
        font-size: 14px;
        font-weight: bold;
        padding: 12px 50px;
        border-radius: 5px;
    }
}

.cta-section {
  height: 352px;
  background-color: #0F1A43;

	h2 {
    margin-top: 7rem;
    padding-left: 8.5rem;
    border-right: 1px solid rgb(171, 171, 171);
    height: 152px;
    position: center;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 56px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 72px;
  

	}
  p{
    margin-top: 7rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
  
  }

}
@media screen and (max-width: 768px) {
	.cta-section {
		h2 {
			font-size: 2rem;
		}
	}
}