.featured-title{
    h1{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
        color: #0F1A43;
        font-family: "Open Sans";
        font-size: 56px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 76px;
    }
    .featured-card{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        margin-bottom: 5rem;
        
    }
    .card{
        border: none;
    }
    .card-body{
        p{
            color: #0F1A43;
            font-family: "Open Sans";
            font-size: 20px;
            font-weight: 300;
            
        }
        a{
            color: #0F1A43;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 20px;
        }
    }
}


.container{
    margin-top: 4rem;
    .card-story-link{
        margin-top: 20px;
        .h5{
            font-size: 32px;
            font-weight: 300;
        }
    }
    .row{
        .patients-story{
            padding: 9rem 0;
        }
        .card-story{
            border: none;
            .play-btn {
                width: 94px;
                height: 94px;
                border: 4px solid white;
                border-radius: 50%;
                justify-content: center;
                display: block;
                position: absolute;
                left: calc(50% - 47px);
                top: calc(50% - 47px);
                overflow: hidden;
            }
            .play-btn {
              border-radius: 50%;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .play-btn::after {
              content: "";
              width: 0;
              height: 0;
              border-top: 20px solid transparent;
              border-bottom: 20px solid transparent;
              border-left: 30px solid white;
              align-content: center;
              margin-left: 10px;
            }
        }
        .btn-primary{
            background-color: #001844;
            color: #fff;
            padding: 12px 40px;
            border-radius: 30px;
            border: 0;
            font-weight: 600;
        }
    }
}