.company-story {
  display: flex;
  flex-direction: column;
  padding-left: 13.75rem;
  padding-right: 13.75rem;
  align-items: flex-start;
  background-color: #001844;
  background: linear-gradient(#001844 50%, #ffffff 50%);
  color: #fff;
  height: auto;

  @media (max-width: 1199.98px) {
    padding-left: 5.75rem;
    padding-right: 5.75rem;
  }

  @media (max-width: 991.98px) {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#001844 80%, #ffffff 50%);
  }

  @media (max-width: 575.98px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .company-story__details {
    display: flex;
    align-items: center;
    padding-top: 5rem;

    @media (max-width: 991.98px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 1rem;
    }
  }

  .company-story__details-main {
    font-size: 50px;
    width: 50%;

    @media (max-width: 991.98px) {
      padding-bottom: 1rem;
      line-height: 1;
      width: 100%;
      font-size: 25px;
      text-align: center;
    }
  }

  .company-story__details-sub {
    width: 50%;
    font-size: 14px;
    font-weight: lighter;

    @media (max-width: 991.98px) {
      width: 100%;
      font-size: 14px;
      text-align: center;
    }
  }

  .company-story__img img {
    width: 100%;
    padding-top: 90px;

    @media (max-width: 575.98px) {
      padding-top: 15px;
    }
  }
}
