.company-story{
  background: #0F1A43;

  
  &__details{
    margin-top: 5.125rem;


    &-main{
      color: #FFFFFF;
      font-family: "Open Sans";
      font-size: 56px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 72px;
      margin-bottom: 5.75rem;

    }
    &-sub{
      color: #FFFFFF;
      font-family: "Open Sans";
      font-size: 18px;
      letter-spacing: 0;
      line-height: 24px;
      padding: 39px 0 40px 30px;
      margin-bottom: 5.75rem;
    }
  }
  &__img{
    height: 50vh;
  }
}