.footer-section{
  background-color: #001844;
  &__main{
    &-wrap{
      margin-top: 3.625rem;
      margin-bottom: 2.563rem;
    }
    &-content{}
    &-title{
      color: #FFFFFF;
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 24px;
    }
    &-description{
      color: #FFFFFF;
      font-family: "Open Sans";
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
    }
  }
  &__main{
    &-link{
      margin-top: 3.625rem;
      margin-bottom: 2.563rem;
    }
      &-link-title{
        color: #FFFFFF;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 16px;
      }
      &-link-subtitle{
        color: #FFFFFF;
        font-family: "Open Sans";
        font-size: 16px;
        letter-spacing: 0;
        line-height: 32px;
      }
    }

  &__bottom{
    border-top: 1px solid #FFFFFF;
    opacity: 1.15;
    &-wrap{
      margin-top: 1.938rem;
    }
    &-wrap-links{
      color: #FFFFFF;
      font-family: "Open Sans";
      font-size: 14px;
      letter-spacing: 0;
      line-height: 20px;
    }
    &-wrap-links span{
      margin-right: 0.625rem;
    }
    &-wrap-links a{
      margin-right: 0.625rem;
    }
    &-wrap-social-links{
      display: flex;
      flex-direction: row;
      justify-content: end;
      margin-top: 1.938rem;
    }
    &-wrap-social-links img{
      margin-right: 1.4rem;
    }
  }
}