nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  border-bottom: 1px solid #2b3455;
  background-color: #0f1a43;
  list-style: none;
  padding: 20px 80px;

  @include media-breakpoint-down(lg) {
    display: flex;
    flex-direction: row;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @include media-breakpoint-down(sm) {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .header-logo {
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 18px;
    margin-left: 10px;
  }
  .header-left {
    display: flex;
    align-items: center;
    @media (max-width: 767.98px) {
      width: 50%;
    }
  }
  
  .header-right{
    @media (max-width: 767.98px) {
      margin-left: 2rem;
    }
    .header-info {
      display: flex;
      align-items: center;
    
    }
    .header-info button {
      background: transparent;
      border: 1px solid #394673;
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;
      padding: 8px 25px;
      border-radius: 20px;
      @media (max-width: 767.98px) {
        padding: 6px 14px;
      }
    }
    .header-menu{
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 40px;
      height: 40px;
    }
    .header-menu:hover{
    background-color: #f7f7f71a;
    }
    
  }
  .modal-header {
    border: none !important;
  }
  
  .modal-content {
    height: 100vh;
    min-width: 45vw !important;
  }
  
  .modal-dialog {
    margin-right: 0 !important;
    margin-top: 0 !important;
    display: flex !important;
    align-items: end !important;
    justify-content: end !important;
  }
  
  .modal-body {
    color: #0f1a43;
    padding: 0rem !important;
  }
  .btn-close{
    color: #f7f7f7;
    border-radius: 50px;
    width: 30px;
    height: 30px;
  }
  
  .nav-menu-container {
    display: flex;
    gap: 15px;
  }
  .nav-menu-left {
    background-color: #fff;
  }
  .nav-menu-items {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding-left: 0rem !important;
    font-weight: normal;
    gap: 15px;
    cursor: pointer;
    padding-top: 5rem;
  }
  
  .nav-menu-items li {
    margin: 0rem;
    padding: 0rem;
    width: 100%;
    img{
      margin-left: 2rem;
      float: right;
      margin-top: 1rem;
      margin-right: 1.5rem;
    }
  }
  
  .nav-menu-items li:hover {
    font-weight: 500;
    border-right:3px solid #0f1a43;
  }
  
  .nav-menu-right{
    background-color: #f7f7f7;
  }
  .nav-menu-sub-items{
    padding-left: 20px;
    font-weight: 500;
  }

  }