nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  background-color: #0f1a43;
  list-style: none;
  padding: 20px 80px;
  @media (max-width: 1199.98px) {
    padding-left: 5.75rem;
    padding-right: 5.75rem;
  }
  @media (max-width: 991.98px) {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 575.98px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }

.header-logo {
  font-weight: 500;
  letter-spacing: 5px;
  font-size: 18px;
  margin-left: 10px;
}
.header-left {
  display: flex;
  align-items: center;
}
.nav-items {
  list-style: none;
  display: flex;
  font-size: 12px;
  font-weight: lighter;
  gap: 30px;
  padding-left: 110px;
  @media (max-width: 991.98px) {

    display: flex;
    flex-direction: column;
    padding-left: 50px;
  }
}
.header-info {
  display: flex;
  align-items: center;
}
.header-info button {
  background: transparent;
  border: 1px solid #394673;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 45px;
  border-radius: 50px;
}
.header-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #394673;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}
.header-menu:hover{
background-color: #f7f7f71a;
}

.modal{
  // left: 0 !important;
}
.modal-header {
  border: none !important;
}

.modal-content {
  height: 100vh;
  min-width: 45vw !important;
}

.modal-dialog {
  margin-right: 0 !important;
  margin-top: 0 !important;
  display: flex !important;
  align-items: end !important;
  justify-content: end !important;
}

.modal-body {
  color: #0f1a43;
  padding: 0rem !important;
}
.btn-close{
  color: #f7f7f7;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}

.nav-menu-container {
  display: flex;
  gap: 15px;
}
.nav-menu-left {
  background-color: #fff;
}
.nav-menu-items {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  padding-left: 0rem !important;
  font-weight: normal;
  gap: 15px;
  cursor: pointer;
  padding-top: 5rem;
}

.nav-menu-items li {
  margin: 0rem;
  padding: 0rem;
  width: 100%;
}

.nav-menu-items li:hover {
  font-weight: normal;
  border-right:3px solid #0f1a43;
}

.nav-menu-right{
  background-color: #f7f7f7;
}
.nav-menu-sub-items{
  padding-left: 20px;
  font-weight: 500;
}
}