.research-container {
  padding-top: 5rem;
  padding-bottom: 5rem;

  @media (max-width: 991.98px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .research-section {
    display: flex;
    padding-left: 13.75rem;
    padding-right: 13.75rem;

    @media (max-width: 1199.98px) {
      padding-left: 5.75rem;
      padding-right: 5.75rem;
    }

    @media (max-width: 991.98px) {
      display: flex;
      flex-direction: column;
      padding-left: 1.75rem;
      padding-right: 1.75rem;
    }
    @media (max-width: 575.98px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .research-section__title {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #0F1A43;
      font-size: 20px;
      line-height: 30px;
    }

    .research-section__left {
      padding-top: 95px;

      @media (max-width: 991.98px) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }
    }

    .research-section__heading {
      font-size: 25px;
      margin-right: 50px;
      font-weight: lighter;
      color: #0F1A43;
      margin-bottom: 20px;
    }

    .research-section__text {
      font-size: 16px;
      margin-right: 50px;
      margin-bottom: 30px;
    }

    .research-section__right {
      display: flex;
      align-items: center;
    }

    .research-section__image {
      max-width: 100%;
      height: max-content;
      object-fit: contain;

      @media (max-width: 991.98px) {
        padding-top: 1rem;
      }
    }

    .research-section__button {
      background-color: #001844;
      color: #fff;
      border: none;
      font-size: 14px;
      font-weight: bold;
      padding: 12px 45px;
      border-radius: 50px;
      @media (max-width: 575.98px) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 17px 0px;
        }
    }

    .research-section__left.altered {
      h1 {
        margin-right: 0;
        margin-left: 50px;

        @media (max-width: 991.98px) {
          margin-left: 0;
        }

        @media (max-width: 575.98px) {
          margin-left: 0;
        }
      }

      h4 {
        margin-left: 50px;

        @media (max-width: 991.98px) {
          margin-left: 0;
        }

        @media (max-width: 575.98px) {
          margin-left: 0;
        }
      }

      p {
        margin-left: 50px;

        @media (max-width: 991.98px) {
          margin-left: 0;
        }

        @media (max-width: 575.98px) {
          margin-left: 0;
        }
      }

      button {
        margin-left: 50px;

        @media (max-width: 991.98px) {
          margin-left: 0;
        }

        @media (max-width: 575.98px) {
          margin-left: 0;
        }
      }
    }
  }
}
