.research-section {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;

  @include media-breakpoint-down(xl) {
    background-position: center;
    padding-left: 5.75rem;
    padding-right: 5.75rem;
  }

  @include media-breakpoint-down(lg) {
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
  @include media-breakpoint-down(sm) {
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__text-wrap-up{
    margin-right: 4.125rem;
    @media (max-width: 991.98px) {
      padding: 0;
      margin: 0;
      margin-bottom: 2.5rem;
    }
    @media (max-width: 575.98px) {
      padding: 0;
      margin: 0;
      margin-bottom: 2.5rem;
      }
  }

  &__text-wrap-down{
    margin-left: 4.125rem;
    @media (max-width: 991.98px) {
      padding: 0;
      margin: 0;
    }
    @media (max-width: 575.98px) {
      padding: 0;
      margin: 0;
      }
  }

  &__title {
    color: #0F1A43;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 1.25rem;
  }

  &__heading {
    color: #0F1A43;
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 45px;
    margin-bottom: 1.25rem;
  }

  &__text {
  color: #0F1A43;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 1.875rem;
  }

  &__button {
    background-color: #001844;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 45px;
    border-radius: 50px;

    @media (max-width: 575.98px) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 17px 0px;
      background: #0f1a43;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      border-radius: 8px;
      }
  }

  &__image{
    @media (max-width: 991.98px) {
      padding: 0;
      margin: 0;
    }
    @media (max-width: 575.98px) {
      padding: 0;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      }
  }
}
