.area-focus {
  overflow: hidden;
  background-color: #001844;
  padding-left: 13.75rem;
  padding-right: 13.75rem;
  padding-top: 4rem;
  @media (max-width: 1199.98px) {
    padding-left: 5.75rem;
    padding-right: 5.75rem;
  }
  @media (max-width: 575.98px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.area-focus h1 {
  font-weight: 600;
}

.area-focus .section-title p {
  color: #fff;
  margin-bottom: 40px;
  font-weight: 300;
}
.section-title h1 {
  color: #fff;
  margin-bottom: 40px;
  font-weight: 300;
}
.area-focus .nav-tabs {
  border: 0;
}

.nav-item {
  border-top: 1px solid #d8e4fb51;
}

.col-lg-3 .nav-item:last-child .nav-link {
  // border-bottom: 1px solid gray;
}

.area-focus .nav-link {
  display: flex;
  justify-content: space-between;
  border: 0;
  padding: 18px 15px;
  transition: 0.3s;
  color: #fff;
  border-radius: 0;
  font-weight: normal;
  font-size: 15px;
}
.area-focus .nav-link:hover {
  color: #fff;
  font-weight: bold;
  border-color: transparent !important;
}

.area-focus .nav-link.active {
  color: #1a1814;
  background: white;
  font-weight: bold;
}

.tab-question {
  margin-left: 1px;
  padding: 40px;
  height: 70vh;
  background-color: white;
  @media (max-width: 575.98px) {
    padding: 18px;
  }
}
.tab-question p {
  font-size: 14px;
}

.area-focus .details h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #001844;
}

.area-focus .details p {
  color: #001844;
}

.area-focus .details p:last-child {
  margin-bottom: 0;
}
.tab-button-container{

  @media (max-width: 575.98px) {
    display: flex;
    flex-direction: column;
  }
}
.container .btn-1 {
  padding: 10px 40px;
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background-color: #001844;

}

.container .btn-2 {
  padding: 10px 35px;
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background-color: #001844;
}

@media (max-width: 992px) {
  .area-focus .nav-link {
    border: 0;
    padding: 15px;
  }
}


.nav-accordion{
  background: none;
  padding-left: 14rem;
  border: none;
  text-decoration: none;
  .nav-tabs-product{
    border-bottom: 2px solid rgb(220,220,220,0.5);
  }
  .nav-link-product{
    color: #0F1A43;
  }
  .nav-link-product:hover{
    color: #0F1A43;
    font-weight: 600;
    border-bottom: 3px solid #001844;
    border-color: #001844;
  }

}

.nav-accordion-content {
  .product-accordion{
    .accordion-flush{
      padding: 0;
    }
  }

}

.tab-pane-stories{
  .card{
    border: none;
  }
}

.container .btn-patient{
  padding: 10px 35px;
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background-color: #001844;
}