.welcome-section{
  background-color: #001844;
  &__content{
    &-wrap{
      margin-top: 6.313rem;
      margin-bottom: 6.313rem;
      &-border{
        padding-left: 1.875rem; 
        border-left: 1px solid #ffffff36;
        box-sizing: border-box;

      }
    }
    &-title{
      color: #FFFFFF;
      font-family: "Open Sans";
      font-size: 26px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 36px;
      margin-bottom: 1.25rem;
    }
    &-description{
      color: #E7ECF0;
      font-family: "Open Sans";
      font-size: 16px;
      letter-spacing: 0;
      line-height: 24px;
      margin-bottom: 1.875rem;
    }

  }
  &__btn{
    &-first{
      background-color: transparent;
      color: #fff;
      border: 1px solid #fff;
      font-size: 14px;
      font-weight: bold;
      padding: 12px 30px;
      border-radius: 50px;
    }
  }
}