html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  max-width: 2000px;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", sans-serif;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

:focus {
  box-shadow: none;
}

:disabled {
  cursor: not-allowed;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.fs-32 {
  font-size: 32px !important;
}

.fs-34 {
  font-size: 34px !important;
}

.fs-36 {
  font-size: 36px !important;
}

.fs-38 {
  font-size: 38px !important;
}

.fs-40 {
  font-size: 40px !important;
}

.fs-42 {
  font-size: 42px !important;
}

.fs-44 {
  font-size: 44px !important;
}

.fs-46 {
  font-size: 46px !important;
}

.fs-48 {
  font-size: 48px !important;
}

.fs-50 {
  font-size: 50px !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.br-1 {
  border-radius: 1px !important;
}

.br-2 {
  border-radius: 2px !important;
}

.br-3 {
  border-radius: 3px !important;
}

.br-4 {
  border-radius: 4px !important;
}

.br-5 {
  border-radius: 5px !important;
}

.disabled {
  cursor: not-allowed !important;
}

.bg-unset {
  background: unset !important;
}

.bg-transparent {
  background: transparent !important;
}

.hidden {
  visibility: hidden !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-start-center {
  display: flex;
  align-items: center;
}

.flex-start-end {
  display: flex;
  align-items: flex-end;
}

.flex-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: row;
  height: 80vh;
  background: url(/assets/img/hero-bg-02.png) no-repeat;
  background-size: cover;
  padding-left: 13.75rem;
  padding-right: 13.75rem;
}
@media (max-width: 1199.98px) {
  .hero {
    background-position: center;
    padding-left: 5.75rem;
    padding-right: 5.75rem;
  }
}
@media (max-width: 991.98px) {
  .hero {
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 575.98px) {
  .hero {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}
.hero .hero-left {
  padding-top: 11.25rem;
  color: white;
}
@media (max-width: 1199.98px) {
  .hero .hero-left {
    padding-top: 5.25rem;
  }
}
@media (max-width: 991.98px) {
  .hero .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1.25rem;
    height: 50%;
  }
}
.hero .hero-left h3 {
  margin: 0px;
}
.hero .hero-left h1 {
  font-weight: lighter;
  font-size: 45px;
  color: white;
  margin: 0px;
  padding: 20px 0px;
}
@media (max-width: 1199.98px) {
  .hero .hero-left h1 {
    font-size: 35px;
  }
}
@media (max-width: 991.98px) {
  .hero .hero-left h1 {
    font-size: 25px;
  }
}
.hero .hero-left p {
  font-weight: lighter;
  font-size: 14px;
  color: white;
}
.hero .hero-right {
  background-image: url(/assets/img/hero-right.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: bottom;
  padding-top: 50px;
}
@media (max-width: 1199.98px) {
  .hero .hero-right {
    background-position: top;
  }
}
@media (max-width: 991.98px) {
  .hero .hero-right {
    padding-top: 0px;
    height: 50%;
    background-size: contain;
    background-position: top;
  }
}
.hero .hero-button {
  padding-top: 30px;
}
.hero .hero-button-first {
  background: #fff;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 45px;
  border-radius: 8px;
}
.hero .hero-button-second {
  background: transparent;
  color: white;
  border: 1px solid #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 45px;
  border-radius: 8px;
  margin-left: 20px;
}
@media (max-width: 575.98px) {
  .hero .hero-button-second {
    margin-top: 1rem;
    margin-left: 0px;
  }
}

.hero-button-first {
  background: #fff;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 45px;
  border-radius: 8px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  background-color: #0f1a43;
  list-style: none;
  padding: 20px 80px;
}
@media (max-width: 1199.98px) {
  nav {
    padding-left: 5.75rem;
    padding-right: 5.75rem;
  }
}
@media (max-width: 991.98px) {
  nav {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 575.98px) {
  nav {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}

.header-logo {
  font-weight: bold;
  font-size: 12px;
}

.header-left {
  display: flex;
  align-items: center;
}

.nav-items {
  list-style: none;
  display: flex;
  font-size: 12px;
  font-weight: lighter;
  gap: 30px;
  padding-left: 110px;
}
@media (max-width: 991.98px) {
  .nav-items {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
  }
}

.header-info {
  display: flex;
  align-items: center;
}

.header-info button {
  background: #fff;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 45px;
  border-radius: 10px;
}

.project-info {
  display: flex;
  background-color: #001844;
  color: #fff;
  padding-left: 13.75rem;
  padding-right: 13.75rem;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  justify-content: space-around;
}
@media (max-width: 1199.98px) {
  .project-info {
    padding-left: 5.75rem;
    padding-right: 5.75rem;
  }
}
@media (max-width: 991.98px) {
  .project-info {
    display: flex;
    flex-direction: column;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }
}
@media (max-width: 575.98px) {
  .project-info {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }
}
.project-info .project-info-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.project-info .project-info-number {
  font-size: 50px;
  font-weight: bold;
}
.project-info .project-info-text {
  font-size: 12px;
  font-weight: lighter;
}

.research-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media (max-width: 991.98px) {
  .research-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.research-container .research-section {
  display: flex;
  padding-left: 13.75rem;
  padding-right: 13.75rem;
}
@media (max-width: 1199.98px) {
  .research-container .research-section {
    padding-left: 5.75rem;
    padding-right: 5.75rem;
  }
}
@media (max-width: 991.98px) {
  .research-container .research-section {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 575.98px) {
  .research-container .research-section {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}
.research-container .research-section .research-section h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 0px;
}
.research-container .research-section .research-section-left {
  padding-top: 95px;
}
@media (max-width: 991.98px) {
  .research-container .research-section .research-section-left {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
.research-container .research-section .research-section-left h1 {
  font-size: 25px;
  margin-right: 50px;
  font-weight: lighter;
}
.research-container .research-section .research-section-left p {
  font-size: 14px;
  margin-right: 50px;
}
.research-container .research-section .research-section-right {
  display: flex;
  align-items: center;
}
.research-container .research-section .research-section-right h1 {
  font-size: 25px;
  margin-left: 50px;
  font-weight: lighter;
}
.research-container .research-section .research-section-right p {
  font-size: 14px;
  margin-left: 50px;
}
.research-container .research-section .research-section-right img {
  max-width: 100%;
  height: -moz-max-content;
  height: max-content;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 991.98px) {
  .research-container .research-section .research-section-right img {
    padding-top: 1rem;
  }
}
.research-container .research-section button {
  background-color: #001844;
  color: #fff;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 45px;
  border-radius: 8px;
}
.research-container .research-section .research-section-left.altered h1 {
  margin-right: 0px;
  margin-left: 50px;
}
@media (max-width: 991.98px) {
  .research-container .research-section .research-section-left.altered h1 {
    margin-left: 0px;
  }
}
@media (max-width: 575.98px) {
  .research-container .research-section .research-section-left.altered h1 {
    margin-left: 0px;
  }
}
.research-container .research-section .research-section-left.altered h4 {
  margin-left: 50px;
}
@media (max-width: 991.98px) {
  .research-container .research-section .research-section-left.altered h4 {
    margin-left: 0px;
  }
}
@media (max-width: 575.98px) {
  .research-container .research-section .research-section-left.altered h4 {
    margin-left: 0px;
  }
}
.research-container .research-section .research-section-left.altered p {
  margin-left: 50px;
}
@media (max-width: 991.98px) {
  .research-container .research-section .research-section-left.altered p {
    margin-left: 0px;
  }
}
@media (max-width: 575.98px) {
  .research-container .research-section .research-section-left.altered p {
    margin-left: 0px;
  }
}
.research-container .research-section .research-section-left.altered button {
  margin-left: 50px;
}
@media (max-width: 991.98px) {
  .research-container .research-section .research-section-left.altered button {
    margin-left: 0px;
  }
}
@media (max-width: 575.98px) {
  .research-container .research-section .research-section-left.altered button {
    margin-left: 0px;
  }
}

.welcome-section {
  display: flex;
  background-color: #001844;
  margin: 0px;
  color: #fff;
  padding-left: 13.75rem;
  padding-right: 13.75rem;
}
@media (max-width: 1199.98px) {
  .welcome-section {
    padding-left: 5.75rem;
    padding-right: 5.75rem;
  }
}
@media (max-width: 991.98px) {
  .welcome-section {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 575.98px) {
  .welcome-section {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}
.welcome-section .welcome-section-left {
  padding: 95px 0px 95px 0px;
}
@media (max-width: 991.98px) {
  .welcome-section .welcome-section-left {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 575.98px) {
  .welcome-section .welcome-section-left {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
.welcome-section .welcome-section-left h1 {
  font-size: 19px;
  margin: 0px;
  color: #fff;
  font-weight: 400;
}
.welcome-section .welcome-section-right {
  padding: 95px 0px 95px 0px;
}
@media (max-width: 991.98px) {
  .welcome-section .welcome-section-right {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media (max-width: 575.98px) {
  .welcome-section .welcome-section-right {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
.welcome-section .welcome-section-left p {
  font-size: 14px;
  font-weight: lighter;
  line-height: 18px;
  padding: 10px 100px 10px 0px;
  letter-spacing: 0.5px;
}
@media (max-width: 991.98px) {
  .welcome-section .welcome-section-left p {
    padding-right: 0px;
  }
}
@media (max-width: 575.98px) {
  .welcome-section .welcome-section-left p {
    padding-right: 0px;
  }
}
.welcome-section .vl {
  border-left: 1px solid rgb(206, 206, 206);
  opacity: 0.3;
}
.welcome-section .welcome-section-right p {
  font-size: 14px;
  font-weight: lighter;
  line-height: 18px;
  padding: 10px 0px 10px 100px;
  letter-spacing: 0.5px;
}
@media (max-width: 991.98px) {
  .welcome-section .welcome-section-right p {
    padding-left: 0px;
  }
}
@media (max-width: 575.98px) {
  .welcome-section .welcome-section-right p {
    padding-left: 0px;
  }
}
.welcome-section .welcome-section-right h1 {
  padding-left: 100px;
  font-size: 19px;
  margin: 0px;
  color: #fff;
  font-weight: 400;
}
@media (max-width: 991.98px) {
  .welcome-section .welcome-section-right h1 {
    padding-left: 0px;
  }
}
@media (max-width: 575.98px) {
  .welcome-section .welcome-section-right h1 {
    padding-left: 0px;
  }
}
.welcome-section .welcome-section-right button {
  margin-left: 100px;
}
@media (max-width: 991.98px) {
  .welcome-section .welcome-section-right button {
    margin-left: 0px;
  }
}
@media (max-width: 575.98px) {
  .welcome-section .welcome-section-right button {
    margin-left: 0px;
  }
}

.company-story {
  display: flex;
  flex-direction: column;
  padding-left: 13.75rem;
  padding-right: 13.75rem;
  align-items: flex-start;
  background-color: #001844;
  background: linear-gradient(#001844 50%, #ffffff 50%);
  color: #fff;
  height: auto;
}
@media (max-width: 1199.98px) {
  .company-story {
    padding-left: 5.75rem;
    padding-right: 5.75rem;
  }
}
@media (max-width: 991.98px) {
  .company-story {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#001844 80%, #ffffff 50%);
  }
}
@media (max-width: 575.98px) {
  .company-story {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}

.company-story-details {
  display: flex;
  align-items: center;
  padding-top: 5rem;
}
@media (max-width: 991.98px) {
  .company-story-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 1rem;
  }
}

.company-story-details-main {
  font-size: 50px;
  width: 50%;
}
@media (max-width: 991.98px) {
  .company-story-details-main {
    font-size: 2rem;
  }
}

.company-story-details-sub {
  width: 50%;
  font-size: 14px;
  font-weight: lighter;
}

.company-story-img img {
  width: 100%;
  padding-top: 90px;
}

.bs-footer {
  font-size: 15px;
  line-height: 24px;
  background-color: #001844;
  padding-left: 13.75rem;
  padding-right: 13.75rem;
  color: #fff;
}
@media (max-width: 1199.98px) {
  .bs-footer {
    padding-left: 5.75rem;
    padding-right: 5.75rem;
  }
}
@media (max-width: 991.98px) {
  .bs-footer {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 575.98px) {
  .bs-footer {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}
.bs-footer__main-row {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-right: 11.5rem;
}
.bs-footer__main-row h6 {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}
.bs-footer__main-row p {
  font-size: 14px;
  font-weight: lighter;
}
.bs-footer__links {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 15px;
  list-style: none;
  text-decoration: none;
}
.bs-footer__links li {
  font-size: 12px;
  background-color: transparent;
  color: #fff;
  border: none;
  text-decoration: none;
  padding: 0px;
}
.bs-footer .bs-separator__line {
  border-top: 1px solid rgb(159, 159, 159);
}
.bs-footer__bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(159, 159, 159, 0.346);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.bs-footer__bottom-row-links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
.bs-footer__bottom-row-links a {
  text-decoration: none;
  color: #fff;
}
.bs-footer__social-icons li {
  display: inline-block;
  list-style: none;
  margin-left: 20px;
}
.bs-footer__social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
}

.bs-accordion .accordion {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.bs-accordion .accordion .accordion-head {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.bs-accordion .accordion .accordion-item {
  border-bottom: 3px solid #e7e7e7;
}
.bs-accordion .accordion .accordion-item .accordion-header {
  margin: 0;
}
.bs-accordion .accordion .accordion-item .accordion-header .accordion-button {
  font-size: rem(18px);
  line-height: 24px;
  font-weight: bold;
  cursor: pointer;
  height: 4.5rem;
}
.bs-accordion .accordion .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: inherit;
}
.bs-accordion .accordion .accordion-item .accordion-header .accordion-button::after {
  background: none;
}
.bs-accordion .accordion .accordion-item .accordion-header .accordion-button .icon-wrap {
  position: absolute;
  right: 20px;
}
.bs-accordion .accordion .accordion-item .accordion-header .accordion-button .icon-wrap .icon-plus::before, .bs-accordion .accordion .accordion-item .accordion-header .accordion-button .icon-wrap .icon-plus::after,
.bs-accordion .accordion .accordion-item .accordion-header .accordion-button .icon-wrap .icon-minus::before,
.bs-accordion .accordion .accordion-item .accordion-header .accordion-button .icon-wrap .icon-minus::after {
  position: absolute;
  right: 26px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.bs-accordion .accordion .accordion-item .accordion-header .accordion-button .icon-wrap .icon-plus::before {
  content: attr(title);
}
.bs-accordion .accordion .accordion-item .accordion-header .accordion-button .icon-wrap .icon-minus {
  display: none;
}
.bs-accordion .accordion .accordion-item .accordion-header .accordion-button .icon-wrap .icon-minus::before {
  content: attr(title);
}
.bs-accordion .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  box-shadow: 0 3px 0px -2px var(--bs-border-color);
}
.bs-accordion .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) .icon-wrap .icon-plus {
  display: none;
}
.bs-accordion .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) .icon-wrap .icon-minus {
  display: block;
}
.bs-accordion .accordion .accordion-item .accordion-body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.bs-accordion .accordion-button:not(.collapsed) {
  color: #242424 !important;
  background-color: rgba(209, 212, 251, 0.2470588235) !important;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.bs-accordion .icon-minus {
  display: none;
}
.bs-accordion .button-text {
  margin-left: 0.5rem;
}
.bs-accordion .accordion-button[aria-expanded=true] .icon-plus {
  display: none;
}
.bs-accordion .accordion-button[aria-expanded=true] .icon-minus {
  display: inline-block;
}
.bs-accordion .accordion-button[aria-expanded=true] .button-text {
  display: none;
}
.bs-accordion .accordion-button[aria-expanded=false] .icon-plus {
  display: inline-block;
}
.bs-accordion .accordion-button[aria-expanded=false] .icon-minus {
  display: none;
}
.bs-accordion .accordion-button[aria-expanded=false] .button-text {
  display: inline-block;
}

.area-focus {
  overflow: hidden;
  background-color: #001844;
  padding-left: 13.75rem;
  padding-right: 13.75rem;
  padding-top: 4rem;
}

.area-focus h1 {
  font-weight: 600;
}

.area-focus .section-title p {
  color: #fff;
  margin-bottom: 40px;
  font-weight: 300;
}

.section-title h1 {
  color: #fff;
  margin-bottom: 40px;
  font-weight: 300;
}

.area-focus .nav-tabs {
  border: 0;
}

.nav-item {
  border-top: 1px solid rgba(216, 228, 251, 0.3176470588);
}

.area-focus .nav-link {
  display: flex;
  justify-content: space-between;
  border: 0;
  padding: 18px 15px;
  transition: 0.3s;
  color: #fff;
  border-radius: 0;
  font-weight: normal;
  font-size: 15px;
}

.area-focus .nav-link:hover {
  color: #fff;
  font-weight: bold;
  border-color: transparent !important;
}

.area-focus .nav-link.active {
  color: #1a1814;
  background: white;
  font-weight: bold;
}

.tab-content {
  margin-left: 1px;
  padding: 40px;
  height: 70vh;
  background-color: white;
}

.tab-content p {
  font-size: 14px;
}

.area-focus .details h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #001844;
}

.area-focus .details p {
  color: #001844;
}

.area-focus .details p:last-child {
  margin-bottom: 0;
}

.container .btn-1 {
  padding: 10px 40px;
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background-color: #001844;
}

.container .btn-2 {
  padding: 10px 35px;
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background-color: #001844;
}

@media (max-width: 992px) {
  .area-focus .nav-link {
    border: 0;
    padding: 15px;
  }
}
.banner-container {
  margin-left: 13.75rem;
  margin-right: 13.75rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background: url(/assets/img/banner-01.png) no-repeat;
  background-size: contain;
  height: 400px;
  color: #fff;
  padding: 6rem 3rem;
}
.banner-container h1 {
  font-weight: bold;
}
.banner-container p {
  width: 50%;
}
.banner-container button {
  background: #fff;
  border: none;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 50px;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */